{% load static %}
{% load notification_tags %}
<!DOCTYPE html>
<html>
<head></head>
<body>
<div class="container">
				<div class="header-data">
					<div class="logo">
						<a href="StudentHome.html" title=""><img src="BAUST.png" alt=""></a>
					</div><!--logo end-->
					<nav>
						<ul>
							<li>
								<a href="{% url 'student_home' %}">
									<span><img src="images/icon1.png" alt=""></span>
									Home
								</a>
							</li>
						
							
							<li>
								<a href="{% url 'student_profile' request.user.username %}" >
									
									{{request.user }}
								</a>
								
							</li>
							
							<li>
								<a href="{% url 'inbox' %}" title="" class="not-box-open">
									<span><img src="images/icon6.png" alt=""></span>
									Messages
								</a>
								
							</li>
							<li>
								<a href="#" title="" class="not-box-open">
									
									<a href="{% url 'show-notifications-student' %}" title="">Notification</a>
									<span class="badge bg-warning">{{ request.user|notification_count }}</span>
									<!-- <span class="badge bg-warning">3</span> -->
								</a>
								
								 <li>
								<a href="{% url 'user_logout' %}">
									Logout
								</a>
							</li>
							</li>
						</ul>
					</nav><!--nav end-->
					<div class="menu-btn">
						<a href="#" title=""><i class="fa fa-bars"></i></a>
					</div><!--menu-btn end-->
					
				</div><!--header-data end-->
			</div>
</div>
            </body>

</html>