{% load static %}
{% include 'Admin_app/base_template.html' %}
{% block content %}
<section id="hero" class="hero d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">Join your colleagues, classmates and friends on BAUST Career-Hub</h1>
        <br><br>
        <div data-aos="fade-up" data-aos-delay="600">
          <div class="text-center text-lg-start">

    <section id="about" class="about"> 
              <div class="text-center text-lg-start">
                <a href="{% url 'signin' %}" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                  <span>Signin</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
    </section>    
          </div>
        </div>
      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="{% static 'assets/img/hero-img.png' %}" class="img-fluid" alt="">
      </div>
    </div>
  </div>
  
</section><!-- End Hero -->
{% endblock content %}
