{% extends 'Admin_app/Admin/base_template.html' %}
{% block page_title %}
Admin Home
{% endblock page_title %}
<head></head>

{% block main_content %}

<body>
    <div class="content-wrapper">
    
    <!-- Content Header (Page header) -->
    <div class="content-header">
    
    <marquee attribute_name = "attribute_value" attribute_name_2 = "attribute_value_2" style="background: blue; background: #66CDAA;
    margin-left: -249px;
    box-shadow: 6px 13px 2px 1px grey;
    border-radius: 30px;
    height: 50px; top:5px; font-size: xx-large;">
      <p style:"top: 15px; font-weight: 20px;">Welcome to BAUST Career-Hub</p>
    </marquee>
      
    </div>
    <!-- /.content-header -->
    


  </div>
  <!-- /.content-wrapper -->



</div>
</body>
{% endblock main_content %}





